################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogicEvaluator/.vs/LogicEvalApp/v16
